:root {
  --dark-shade0: #001001;
  
  --dark-shade7: #DAF8D8;
  
  --dark-accent0: #FF7970;
  
  --dark-accent1: #FF8E00;
  
  --dark-accent2: #F5AC00;
  
  --dark-accent3: #45DC5F;
  
  --dark-accent4: #00DDFC;
  
  --dark-accent5: #7BB1FF;
  
  --dark-accent6: #C998FF;
  
  --dark-accent7: #FD83DD;
  
  --dark-shade1: #1F3120;
  
  --dark-shade2: #3E523E;
  
  --dark-shade3: #5D735D;
  
  --dark-shade4: #7D957C;
  
  --dark-shade5: #9CB69B;
  
  --dark-shade6: #BBD7B9;
  
  --light-shade0: #F9FEF9;
  
  --light-shade7: #005B00;
  
  --light-accent0: #DD5750;
  
  --light-accent1: #D36700;
  
  --light-accent2: #B67E00;
  
  --light-accent3: #2EA343;
  
  --light-accent4: #00A3BB;
  
  --light-accent5: #5882EF;
  
  --light-accent6: #946FE3;
  
  --light-accent7: #BC5FBF;
  
  --light-shade1: #D5E7D5;
  
  --light-shade2: #B2CFB2;
  
  --light-shade3: #8EB88E;
  
  --light-shade4: #6BA16B;
  
  --light-shade5: #478A47;
  
  --light-shade6: #247224;
}